body {
  padding-top: 50px;
}

.well {
   background-color: rgba(200, 200, 200, 0.4);
}

.instagram-logo {
  width: 32px;
  height: 32px;
}

.profile-picture {
  width: 64px;
  height: 64px;
}

.top-inputbox-div {
  padding: 10px 15px;
  display: inline;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.instagram-items-div {
  text-align: left;
}
.instagram-image-div {
  padding: 20px 15px;
}
.instagram-items-span {
  display: block;
  padding: 2px 0px;
  word-wrap: break-word;
}
.instagram-tags-span {
  display: inline;
  padding: 5px 2px;
  word-wrap: break-word;
}

.item-nav-button {
  padding: 10px 10px;
}


