body {
  padding-top: 60px;
}

.well {
   background-color: rgba(200, 200, 200, 0.4);
}

/* COLOR */

.color-blue {
    color: blue;
}

/* MEDIA */

.instagram-logo {
  width: 32px;
  height: 32px;
}

.profile-picture {
  width: 64px;
  height: 64px;
}

/* DISPLAY BLOCK */  

.display-block-item-span {
  display: block;
  padding: 2px 0px;
  word-wrap: break-word;
}

.display-block-tags-span {
  display: inline;
  padding: 5px 2px;
  word-wrap: break-word;
}

/* BUTTONS AND ICONS */

.button-item-nav:hover {
  color: orange;
}

.button-refresh:hover {
  color: orange;
}

.icon-tag:hover {
  color: blue;
}

/* OTHER */

.padded-element {
  padding: 10px 10px;
}

.margined-element {
  margin: 10px 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}


