body {
  padding-top: 60px;
}

.well {
   background-color: rgba(200, 200, 200, 0.4);
}

.instagram-logo {
  width: 32px;
  height: 32px;
}

.profile-picture {
  width: 64px;
  height: 64px;
}

.padding-10x10 {
  padding: 10px 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.instagram-items-span {
  display: block;
  padding: 2px 0px;
  word-wrap: break-word;
}
.instagram-tags-span {
  display: inline;
  padding: 5px 2px;
  word-wrap: break-word;
}

.item-nav-button:hover {
  color: orange;
}

.addon-button:hover {
  color: orange;
}

.tag-button:hover {
  color: blue;
}

.blue {
    color: blue;
}


