<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>PURE AWESOMENESS</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/pureawesomeness.css" type="text/css" media="screen" charset="utf-8">
</head>
<body ng-app="PureAwesomeness" ng-controller="PureAwesomenessCtrl" ng-init="initController()">
    <!-- NAV BAR -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container">
	   <div class="navbar-header">
	       <a class="navbar-brand"> HELLO. WELCOME TO PURE AWESOMENESS</a>
           </div>
           <div class="collapse navbar-collapse">
               <span class="navbar-text navbar-right">
                   <span id="span-instagram-tag-clicked"></span>
               </span>
	   </div>
       </div>
    </div>

     <!-- MAIN --->
     <div class="container-fluid" id="outer-container">
         <div class="row top-inputbox-div">
             <div class="col-lg-4 col-centered">
                 <div class="input-group">
                     <span class="input-group-addon">TAG</span>
                     <input type="text" class="form-control" name="inputbox-instagram-tag" placeholder="<enter tag here>"
                        ng-model="instagramTag" ng-click="instagramTag = ''" 
                        ng-keypress="instagramTagInputBoxKeypress($event)">
                     <span class="input-group-addon" ng-click="instagramTagUpdate()">
                         <span class="glyphicon glyphicon-refresh"></span>
                     </span>
                 </div>
             </div>
             <div class="col-lg-1 col-centered">
                 <img class="instagram-logo" src="img/instagram_256.png">
             </div>
        </div>

        <!-- INSTAGRAM BLOCK -->
        <div id="instagram-data">
           <div class="instagram-items-div" ng-repeat="item in items">
               <div class="instagram-image-div text-center">
		  <span><img ng-src="{{item.images.low_resolution.url}}"></span>
               </div>
               <div class="row">
		       <div class="col-lg-8 col-centered">
			       <div class="well">
				   <div class="row">
					<div class="col-lg-2 text-right">
					     <span class="instagram-items-span">
						<span><img class="profile-picture" ng-src="{{item.user.profile_picture}}"></span>
					     </span>
					    <span class="instagram-items-span">
						<span class="glyphicon glyphicon-user"></span>
						<span>{{ item.user.username }}</span>
					    </span>
				       </div>
				       <div class="col-lg-6 text-left">
					    <span class="instagram-items-span">
						<span class="glyphicon glyphicon-comment"></span>
						<span>{{ item.caption.text }}</span>
					    </span>
					    <span class="instagram-tags-span">
						<span class="glyphicon glyphicon-tags"></span>
						<span ng-repeat="tag in item.tags">
						    <span class="label label-warning">{{ tag }}</span>
						</span>
					    </span>
					    <span class="instagram-items-span">
						<span class="glyphicon glyphicon-heart"></span>
						<span>{{ item.likes.count }}</span>
					    </span>
					</div>
				    </div>
				</div>
			</div>
                </div>
             </div>
         </div>
    </div>

    <!-- JS SCRIPTS --->
    <script src="js/thirdparty/jquery/jquery-2.0.3.min.js"></script>
    <script src="js/thirdparty/utils/purl.js"></script>
    <script src="js/thirdparty/angular/angular-1.2.9.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/custom/pureawesomeness.js"></script>
</body>
</html>

