
<div id="instagram-data"  ng-app="InstagramAwesomeness" ng-controller="InstagramAwesomenessCtrl" ng-init="initController()">
    
    <div class="row">
        <div class="col-lg-4 col-centered text-center padded-element">
            <img class="instagram-logo" src="img/instagram_256.png">
            <span ng-show="items.length > 0" ng-cloak>{{itemIndex + 1}}/{{items.length}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-centered text-center">
            <span class="padded-element button-item-nav" ng-click="instagramItemUpdate(-1)">
                <span class="glyphicon glyphicon-backward"></span>
            </span>
            <span class="padded-element button-item-nav" ng-click="pauseTimer()">
                <span class="glyphicon glyphicon-pause"></span>
            </span>
            <span class="padded-element button-item-nav" ng-click="startTimer()" ng-class="playButtonClass()">
                <span class="glyphicon glyphicon-play"></span>
            </span>
            <span class="padded-element button-item-nav" ng-click="instagramItemUpdate(1)">
                <span class="glyphicon glyphicon-forward"></span>
           </span>
        </div>
    </div>

    <div ng-repeat="item in items" ng-show="isShow(item)" ng-cloak>

        <div class="row">
            <div class="col-lg-12 col-centered text-center padded-element">
	        <img ng-src="{{item.images.low_resolution.url}}">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-8 col-centered padded-element">
	       <div class="well">
		   <div class="row">
			<div class="col-lg-2 col-md-2 col-sm-3 pull-left text-right">
			     <span class="display-block-item-span">
				<img class="profile-picture" ng-src="{{item.user.profile_picture}}">
			     </span>
			    <span class="display-block-item-span">
				<span class="glyphicon glyphicon-user"></span>
				<span>{{ item.user.username }}</span>
			    </span>
		       </div>
		       <div class="col-lg-10 col-md-10 col-sm-9">
			    <span class="display-block-item-span">
				<span class="glyphicon glyphicon-comment"></span>
				<span>{{ item.caption.text }}</span>
			    </span>
			    <span class="display-block-tags-span">
				<span class="glyphicon glyphicon-tags"></span>
				<span ng-repeat="tag in item.tags">
				    <span class="label label-warning icon-tag" ng-click="tagClicked(tag)">{{ tag }}</span>
				</span>
			    </span>
			    <span class="display-block-item-span">
				<span class="glyphicon glyphicon-heart"></span>
				<span>{{ item.likes.count }}</span>
			    </span>
                        </div>
		    </div>
                </div>
	    </div>
        </div>

    </div>
</div>


